body{
    overflow: hidden;

    max-width:100%;
    max-height:100%;

}
/**{*/
/*    margin: 0;*/
/*    padding:0;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*}*/

/*.carousel{*/


/*    width: 100%;*/
/*    height: 100vh;*/
/*}*/

/*body::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/
/* Smaller than standard 960 (devices and browsers) */
/*@media only screen and (max-width: 959px) {*/
/*}*/

/*!* Tablet Portrait size to standard 960 (devices and browsers) *!*/
/*@media only screen and (min-width: 768px) and (max-width: 959px) {*/
/*}*/

/*!* All Mobile Sizes (devices and browser) *!*/
/*@media only screen and (max-width: 767px) {*/
/*}*/

/*!* Mobile Landscape Size to Tablet Portrait (devices and browsers) *!*/
/*@media only screen and (min-width: 480px) and (max-width: 767px) {*/
/*}*/

/*!* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) *!*/
/*@media only screen and (max-width: 479px) {*/
/*}*/